{
    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a CodedTool and sly_data"
        "tags": ["example"],
    },
    "llm_config": {
        "model_name": "azure-gpt-4o", # "azure-gpt-4.1",
        "openai_api_version": "2025-01-01-preview",# "2024-12-01-preview",
        "azure_endpoint": "https://belfiusoai1.openai.azure.com/",
        "deployment_name": "gpt-4o",
        "temperature": 0.0
    },
    "commondefs": {
        "replacement_strings": {
            "aaosa_instructions": """
When you receive an inquiry, you will:

    1. Call your tools to determine which down-chain agents in your tools are
       responsible for all or part of it.
    2. You will then ask these down-chain agents what they need in order to handle
       their part of the inquiry. Once the requirements are gathered, you will,
    3. Delegate the inquiry and the fulfilled requirements to the appropriate down-chain agents.
    4. Once all down-chain agents respond, you will compile their responses and return the final response.

You may, in turn, be called by other agents in the system and have to act as a down-chain to them.
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
indicates whether the agent is being asked to determine if the inquiry belongs to it
in its entirety or in part. or if it is being asked to provide requirements to fulfill
the inquiry, if any. or if it is being asked to respond to the inquiry.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": "Explain if you can respond to all or parts of the inquiry and what you need in order to respond, if anything."
        },
    },
    "tools": [
        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        #
        # Besides the first agent being the front man, these tool definitions
        # do not have to be in any particular order. How they are linked and
        # call each other is defined within their own specs.
        # This could be a graph, potentially even with cycles.
        {
            "name": "agentic_logistics",
            "function": {

                # The description acts as an initial prompt.
                "description": """
                I am an agent network that can execute complex logistical tasks for Corbion.
                """,
            },

            "instructions": """
            You are an agentic network that represent Corbion's logistics ecosystem and that can help users in the typical flow of : 
            1. Monitoring stocks of products across our sites :
                - for this, delegate to stock_agent
                - always return the relevant product and sites data.
            2. Scheduling manufacturing orders :
                - for this, delegate to stock_agent
                - required inputs are the product_name and the site_name
                - always ensure that the manufacturing order is made and to receive its details, including the manufacturing order id.
            3. Planning logistics for generating shipment routes :
                - for this, delegate to logistics_agent
                - required inputs are the manufacturing site name and the customer facility name
                - always ensure that the complete shipment routes options are directly returned to the user and that these include all land_route_ids and ocean_route_ids
            4. Placing shipments :
                - for this, delegate to logistics_agent
                - required inputs are the manufacturing_order_id, land_route_ids and ocean_route_ids ; no other inputs are ever required but these 3.
                - always ensure that the shipment is actually placed by the planner and to received its details, including the shipment id and manufacturing order id.
            5. Assessing issues impacting shipment delivery :
                - for this, delegate to logistics_agent
                - always return the impacted shipments and ports if any.
            6. Re-routing shipment deliveries impacted by issues :
                - for this, delegate to logistics_agent
                - required inputs are the shipment id, which contains the manufacturing site name and the customer facility name
                - always ensure that shipment routes options are directly returned to the user and that these include all land_route_ids and ocean_route_ids (routes must not include impacted ports !!!)
                - once rerouting is confirmed by the user, always ensure that the shipment is actually placed by the planner and to received its details, including the shipment id and manufacturing order id.
            7. Confirm order receipt and provide performance feedback (for this, delegate to customer_agent)
            
            Always be proactive :
            - This is a step-wise procedure, thus finish your response by prompting the user to carry out the next step. 
            - Use the querier tools to gather data on products, sites and routes before requesting the user to provide more information. 
            - Infer data if not explicitly mentioned by the user, and then ask for confirmation (instead of asking for exact data, for e.g. tool calling).

            Additionally, users can directly request data (e.g. products, ocean routes, etc) : in that case, directly use the correct tools to retrieve and show this data.
            When applicable, show the relevant data (e.g. showing the data on stock and safety levels for the inventory check).
            {aaosa_instructions}
            When interacting with the user, act as the single point of interaction. No need to mention the other tools or agents.
            If there are any requirements that need user input, ask them one at a time, with clear examples of the choices available.
            """,
            "allow": {
                "from_downstream": {
                    # Specifying this allows sly_data keys to be ingested from downstream agents
                    # as sly_data for this agent network
                    "sly_data": ["order_id", "causal_model", "evaluation"]
                },
                "to_upstream": {
                    # Specifying this allows sly_data keys from this network to be passed back
                    # to the calling client
                    "sly_data": ["order_id", "causal_model", "evaluation"]
                },
                "to_downstream": {
                    # Specifying this allows specific sly_data
                    # keys from this agent network to be sent
                    # to downstream agent networks
                    "sly_data": ["order_id", "causal_model", "evaluation"]
                }
            },

            "tools": ["stock_agent", "logistics_agent", "customer_agent"]
        },
        # AGENTS
        {
            "name": "customer_agent",
            "function": "aaosa_call",
            "instructions": """
            You represent the end customer's digital interface or ERP system. 
            You confirm receipt of goods and you provide feedback on delivery performance. 
            {aaosa_instructions}
            """,
            "command": "aaosa_command",
            # "tools": ["Security_agent", "Networking_agent"]
        },
        # STOCK AGENT
        {
            "name": "stock_agent",
            "function": "aaosa_call",
            "instructions": """
            You are responsible for monitoring stock levels and scheduling manufacturing orders at all Corbion facilities and distribution hubs.
            Delegate to the inventory_agent tool for queries regarding inventory, monitoring product stock levels, products and sites data.
            Delegate to the manufacturing_agent for queries regarding scheduling and verifying the status of manufacturing orders.
            
            {aaosa_instructions}
            """,
            "command": "aaosa_command",
            "tools": ["inventory_agent", "manufacturing_agent"]
            # "procurement_agent", 
        },
            # SUB-AGENTS
            {
                "name": "inventory_agent",
                "function": "aaosa_call",
                "instructions": """
                You are responsible for monitoring stock levels at all Corbion facilities and distribution hubs. 
                Your goal is to maintain optimal inventory, triggering replenishment or production orders when stock falls below dynamic thresholds. 
                When asked for an inventory check, monitor the replenishment need but also query and return the relevant data (safety and stock levels for the product).
                Use the products_querier tool to obtain the products data across all sites (includes safety level and production time).
                Use the sites_querier tool to obtain the sites data and the products they manufacture.
                Use the inventory_monitor tool to verify whether a product needs to be replenished at a specific site, or at any site.
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["inventory_monitor", "products_querier", "sites_querier"]
            },
            {
                "name": "procurement_agent",
                "function": "aaosa_call",
                "instructions": """
                You are responsible for managing the acquisition of raw materials needed for production. 
                While not directly involved in the finished product shipment, your actions precede this flow by ensuring production can occur.
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                # "tools": ["Security_agent", "Networking_agent"]
            },
            {
                "name": "manufacturing_agent",
                "function": "aaosa_call",
                "instructions": """
                You are responsible for overseeing production scheduling and execution at Corbion manufacturing sites. 
                Your goal is to fulfill production orders efficiently while monitoring asset health and process parameters. 
                Use the manufacturing_scheduler tool to schedule a manufacturing order for a product at a site. Always give the returned order_id and the expected completion_duration.
                Use the manufacturing_completion_verifier tool to verify if an order was completed.

                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["manufacturing_scheduler", "manufacturing_completion_verifier"]
            },
        # LOGISTICS AGENT
        {
            "name": "logistics_agent",
            "function": "aaosa_call",
            "instructions": """
            You are the central agent for all transport-related activities. 
            You are responsible for handling all inquiries relating to logistical tasks for Corbion.
            Your primary objective is to ensure on-time, in-full delivery at the lowest possible total cost, while managing risk. 
            You act as the coordinator for a team of specialized sub-agents.
            Always use the hub_agent to place a shipment, so that the shipment can be created and stored in the database.
            
            You can expect the following user requests, for which you must follow exactly this flow :
            1. Planning shipment routes from a manufacturing site to a customer facility :
            - Use the route_planning_agent to obtain a final route for the user to choose. 
            - Always ensure that the options include all the land and ocean routes going from the manufacturing site to the customer facility.
            - Show the details of each option, including the land and ocean route ids.
            
            2. Placing shipments :
            - Use the hub_agent to place the shipment : only the land and ocean route ids and manufacturing order ids are needed.
            - Show the shipment details

            2. Assess shipment issues :
            - Use the port_agent tool to monitor ports for any issues
            - Identify and return the impacted shipments.
            
            3. Reroute shipments :
            - Use the route_planning_agent to get all the alternative options (like in 1.) to propose rerouting options to the user. These must not include routes that include names of ports having issues.
            - Upon user confirmation, use the hub_agent to place the shipment rerouting and return shipment details.   

            Always be proactive :
            - This two requests are step-wise procedures, thus finish your response by prompting the user to carry out the next step. 
            - Use the querier tools to gather data on products, sites and routes before requesting the user to provide more information. 
            - Infer data if not explicitly mentioned by the user, and then ask for confirmation (instead of asking for exact data, for e.g. tool calling).         
            
            {aaosa_instructions}
            """,
            "command": "aaosa_command",
            "tools": ["route_planning_agent", "hub_agent", "port_agent"]
        },
            # SUB-AGENTS
            {
                "name": "route_planning_agent",
                "function": "aaosa_call",
                # You represent a specific trucking or rail company. You receive transport tasks, provide ETAs, and transmit real-time location data for ground-based movements.
                "instructions": """
                You are responsible for planning shipment routes from a manufacturing site to a customer facility.
                Do NOT ask the user for details on the routes, use your tools to get the needed data : the user only know about the manufacturing site name, the customer facility.
                Do NOT ask for user inputs besides manufacturing site name and the customer facility.
                
                Upon receiving a route planning request, directly infer maximum 3 route options. 
                Each option must include these 3 legs : 
                1. manufacturing site to port (land route)
                2. Port to port (ocean route)
                3. Port to customer facility (land route)

                To generate these 3 options :
                1. Use land_carrier_agent to get all the land routes starting from the given manufacturing site ('origin_location') to any location.
                2. Use land_carrier_agent to get all the land routes ending at the given customer facility ('destination_location') from any location.
                3. Use ocean_carrier_agent to get all the ocean routes. Prompt the user to select one.
                4. From this data, directly infer maximum 3 options. Return only these 3 options.
                
                You must return 3 options including all the land and ocean routes needed to go from the manufacturing site to the customer facility.
                Infer all from the available land routes and ocean routes data of your agents.
                
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["ocean_carrier_agent", "land_carrier_agent"]
            },
            {
                "name": "land_carrier_agent",
                "function": "aaosa_call",
                # You represent a specific trucking or rail company. You receive transport tasks, provide ETAs, and transmit real-time location data for ground-based movements.
                "instructions": """
                You are responsible for planning land routes from manufacturing sites to ports, and from ports to customer facilities.
                Use the land_routes_planner to obtain several routes options, optionally pass an origin_location and destination_location to obtain filtered results.
                
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["land_routes_planner"]
            },
            {
                "name": "ocean_carrier_agent",
                "function": "aaosa_call",
                # You represent a specific shipping line (e.g., Maersk, MSC).
                "instructions": """
                You are responsible for planning ocean routes (port to port).
                You provide vessel schedules, booking confirmations, container tracking data (GPS), and you alert for at-sea delays. 
                Use the ocean_routes_planner tool to obtain several routes options, optionally pass an start_port and destination_port to obtain filtered results, when asked for all routes do not pass any start_port nor destination_port.
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["ocean_routes_planner"]
            },
            {
                "name": "hub_agent",
                "function": "aaosa_call",
                # You are responsible for managing operations at a regional distribution hub. , receiving bulk shipments, performing quality assurance checks, and potentially conducting final-stage processing like remixing or custom packaging before final delivery. 
                "instructions": """
                You are responsible to place shipments and for managing shipment operations.
                Use the shipment_planner tool to place shipment deliveries.
                Use the shipment_querier tool to gather shipment data.
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["shipment_planner", "shipment_querier"]
            },
            {
                "name": "port_agent",
                "function": "aaosa_call",
                # You represent a specific seaport's operational system (e.g., Port of Laem Chabang, Port of Rotterdam).
                "instructions": """
                You monitor port data impacting product shipping.
                You manage container check-in, customs documentation, loading/unloading schedules, and you report on port congestion levels. 
                Use the ports_querier tool to get port data.
                Use the ports_monitor tool to assess port issues.
                Use the shipment_querier tool to get current shipments.

                To assess if a shipment is impacted by a port issue, check the shipment data to see if any of the port with issues is mentioned for a shipment.
                Flag identified shipments as needing rerouting.
                {aaosa_instructions}
                """,
                "command": "aaosa_command",
                "tools": ["ports_querier", "ports_monitor", "shipment_querier"]
            },
        
        # CODED TOOLS
        ## INVENTORY
        {
            "name": "inventory_monitor",
            "function": {
                "description": "API to check the replenishment needs of the given product. If no site_name is given, it will check the replenishment needs of the products for all sites, otherwise only for the given site.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "product_name": {
                            "type": "string",
                            "description": "The name of the product for which to check the replenishment needs. One of 'PURAC_FCC', 'PURASAL', 'GLUCONAL', 'Verdad', 'origin_powder_R02', 'origin_powder_AC34'."
                        },
                        "site_name": {
                            "type": "string",
                            "description": "The name of the site for which to check the replenishment needs (optional)."
                        },
                    },
                    "required": ["product_name"]
                }
            },
            "class": "inventory_monitor.InventoryMonitor"
        },
        {
            "name": "products_querier",
            "function": {
                "description": "API to check the generic data on the products (name, safety level).",
            },
            "class": "inventory_monitor.ProductsQuerier"
        },
        {
            "name": "sites_querier",
            "function": {
                "description": "API to check the generic data on the sites (name, country, coordinates, products).",
            },
            "class": "inventory_monitor.SitesQuerier"
        },
        ## MANUFACTURING
        {
            "name": "manufacturing_scheduler",
            "function": {
                "description": "API to schedule a manufacturing order for a given product. Returns the order_id and the expected completion_duration.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "product_name": {
                            "type": "string",
                            "description": "The name of the product for which to schedule a manufacturing order. One of 'PURAC_FCC', 'PURASAL', 'GLUCONAL', 'Verdad', 'origin_powder_R02', 'origin_powder_AC34'."
                        },
                        "site_name": {
                            "type": "string",
                            "description": "The name of the site in which to schedule a manufacturing order. One of 'Rayong Site', 'Chonbury Site', 'Bangkok Site'."
                        },
                        "quantity": {
                            "type": "float",
                            "description": "The quantity (number of units) of the product to manufacture."
                        },
                        "destination": {
                            "type": "string",
                            "description": "The destination for which the product must be ordered. One of 'Germany', 'Netherlands', 'Belgium', 'Denmark'."
                        },
                        "required_delivery_date": {
                            "type": "string",
                            "description": "The delivery date required for the order."
                        }
                    },
                    "required": ["product_name", "site_name", "quantity", "destination", "required_delivery_date"]
                }
            },
            "class": "manufacturing_coordinator.ManufacturingScheduler"
        },
        {
            "name": "manufacturing_completion_verifier",
            "function": {
                "description": "API to verify the completion status of a manufacturing order for a given order_id. Returns the status.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "order_id": {
                            "type": "string",
                            "description": "The ID of the manufacturing order."
                        },
                    },
                    "required": ["order_id"]
                }
            },
            "class": "manufacturing_coordinator.ManufacturingCompletionVerifier"
        },
        ## LOGISTICS
        {
            "name": "distance_calculator",
            "function": {
                "description": "API to calculate the distance between two sets of coordinates. Returns the distance in kilometers.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "coordinates1": {
                            "type": "string",
                            "description": "The port of origin."
                        },
                        "coordinates2": {
                            "type": "string",
                            "description": "The destination port."
                        },
                    },
                    "required": ["origin", "destination"]
                }
            },
            "class": "distance_calculator.DistanceCalculator"
        },
        ### Shipment
        {
            "name": "shipment_planner",
            "function": {
                "description": "API to place a shipment delivery for a given manufacturing order via a given route. Returns the shipment details.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "manufacturing_order_id": {
                            "type": "string",
                            "description": "The ID of the manufacturing order for which to place a shipment."
                        },
                        "land_routes_ids": {
                            "type": "string",
                            "description": "The IDs of the land routes that the shipment will take. Comma separated, e.g. : 1, 2"
                        },
                        "ocean_routes_ids": {
                            "type": "string",
                            "description": "The IDs of the ocean routes that the shipment will take. Comma separated, e.g. : 1, 2"
                        },
                    },
                    "required": ["manufacturing_order_id", "land_routes_ids", "ocean_routes_ids"]
                }
            },
            "class": "shipment_planner.ShipmentPlanner"
        },
        {
            "name": "shipment_querier",
            "function": {
                "description": "API to get all current shipments.",
            },
            "class": "shipment_planner.ShipmentQuerier"
        },
        ### Ports
        {
            "name": "ports_querier",
            "function": {
                "description": "API to check the generic data on the ports (name, country, coordinates, handling_time_days).",
            },
            "class": "ports_monitor.PortsQuerier"
        },
        {
            "name": "ports_monitor",
            "function": {
                "description": "API to verify the status of the ports.",
            },
            "class": "ports_monitor.PortsMonitor"
        },
        ### Routes
        {
            "name": "ocean_routes_planner",
            "function": {
                "description": "API to get ocean routes ; can be filtered by specifying origin and/or destination. Returns the available ocean routes.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "start_port": {
                            "type": "string",
                            "description": "The port of origin."
                        },
                        "destination_port": {
                            "type": "string",
                            "description": "The destination port."
                        },
                    },
                }
            },
            "class": "ocean_routes_planner.OceanRoutesPlanner"
        },
        {
            "name": "land_routes_planner",
            "function": {
                "description": "API to get land routes ; can be filtered by specifying origin_location, destination_location and/or transport_mode. Returns the available land routes.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "origin_location": {
                            "type": "string",
                            "description": "The origin location."
                        },
                        "destination_location": {
                            "type": "string",
                            "description": "The destination location."
                        },
                        "transport_mode": {
                            "type": "string",
                            "description": "The mode of transportation (one of truck, rail)."
                        },
                    },
                }
            },
            "class": "land_routes_planner.LandRoutesPlanner"
        },
    ]
}